@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #ecfeff;
    overflow: hidden;
}

.container {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 6fr;
    grid-template-rows: 200px auto;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    overflow: auto;
}

/*** SIDEBAR ***/
.sidebar {
    grid-area: sidebar;
    display: grid;
    /* grid-template-rows: 1fr 3fr 3fr; */
    align-content: start;
    gap: 42px;
    padding: 10% 10% 0 10%;
    background-color: #0e7490;
    color: white;
    border-radius: 15px;
    margin: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
    height: auto;
    transition: ease 0.15s;
}


.sidebar__logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.sidebar__logo-text {
    display: inline;
    /* font-size: 32px; */
    font-size: clamp(22px, 2vw, 44px);
}

.sidebar__logo-icon {
    width: 30%;
    mix-blend-mode: difference;
    fill: white;
}

.sidebar__nav1,
.sidebar__nav2 {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.sidebar__nav1 div,
.sidebar__nav2 div {
    display: flex;
    align-items: end;
    gap: 16px;
    /* font-size: 18px; */
    font-size: clamp(18px, 1vw, 32px);
}

.sidebar__nav1 div:hover,
.sidebar__nav2 div:hover {
    cursor: pointer;
    color: #67e8f9;
}

.sidebar__nav1 div:hover .icon,
.sidebar__nav2 div:hover .icon {
    cursor: pointer;
    fill: #67e8f9;
}

.icon {
    width: 10%;
    fill: white;
}



/*** HEADER ***/
.header {
    grid-area: header;
    display: grid;
    background-color: #a5f3fc;
    border-radius: 15px;
    margin: 8px 8px 24px 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
}

/** FIRST ROW **/
.first-row {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-areas: "first-row__left first-row__right";
    padding: 1rem;
    gap: 1rem;
}


/* FIRST ROW LEFT */
.first-row__left {
    grid-area: first-row__left;
    display: grid;
    align-content: center;
}


.first-row_search {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    gap: 1%;
}

.search-img,
.icon.bell {
    position: relative;
    fill: #083344;
    width: 25px;
}

input[type="search"] {
    appearance: none;
    outline: none;
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 2rem;
    padding: 10px 10px 10px 10px;
    background-color: #ecfeff;
}

input[type="search"]:focus {
    border: 1px solid #083344;
}


/* FIRST ROW RIGHT */

.first-row__right {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    /* font-size: 18px; */
    font-size: clamp(18px, 1vw, 32px);
    font-weight: 600;
}


.first-row__profile-img-cont,
.user-block__img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-img {
    width: 100%;
}


/** SECOND ROW **/
.second-row {
    display: grid;
    grid-template-columns: auto auto;
    padding: 16px;
}

/* SECOND ROW LEFT */
.second-row__left {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2%;
}

.second-row__profile-img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.second-row__text-cont {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.second-row__bottom-text-name {
    /* font-size: 20px; */
    font-size: clamp(20px, 1vw, 34px);

}

/* SECOND ROW RIGHT */
.second-row__right {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;

}

.second-row-btn {
    border-radius: 50px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: #ecfeff;
    background-color: #155e75;
}

.second-row-btn:hover {
    color: #155e75;
    background-color: #ecfeff;
}

/*** MAIN ***/
.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 4fr minmax(300px, 1fr);
    grid-template-areas: "main-left main-right";
    margin-bottom: 8px;
    max-height: max-content;
}


/** MAIN LEFT **/
.main-left {
    grid-area: main-left;
    grid-auto-rows: max-content;
    /* grid-template-rows: auto auto; */
    display: grid;
    align-content: start;
    padding: 8px 8px 0 8px;
    max-height: max-content;
}

.main-left__title {
    padding: 1rem 0 0.5rem 0;
    /* font-size: 18px; */
    font-size: clamp(18px, 1vw, 32px);
    font-weight: 600;
}

.main-left__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    /* grid-template-rows: repeat(auto, minmax(100px, 1fr)); */
    height: 100%;
    gap: 18px;

    align-self: stretch;
    align-self: normal;
    align-content: start;
    justify-content: center;
}

.main-left__card {
    display: grid;
    grid-template-rows: auto auto auto;
    font-size: clamp(16px, 1vw, 30px);
    background-color: white;
    min-height: 200px;
    border-radius: 15px;
    padding: 18px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
    gap: 8px;

}

.main-left__project-img-cont {

    width: fit-content;
    height: auto;
    justify-self: center;
    margin-bottom: 8px;
}

.main-left__project-img-cont img {

    /* object-fit: scale-down; */
    border-radius: 15px;
    width: 100%;
}

.main-left__icons-group {
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding: 0 1rem 0 1rem;
}

.main-left__icons-group svg {
    width: 25px;
    fill: #083344;
    cursor: pointer;
}

/** MAIN RIGHT **/
.main-right {
    grid-area: main-right;
    display: grid;
    grid-auto-rows: max-content;
    padding: 8px;
    gap: 24px;
}

/* ANNOUNCEMENTS */
.announcements,
.trending {
    display: grid;
    grid-template-rows: auto auto;
}

.announcements__title,
.trending__title {
    padding: 1rem 0 0.5rem 0;
    font-size: 18px;
    font-weight: 600;
    font-size: clamp(18px, 1vw, 32px);
}

.announcements__card,
.trending__card {
    background-color: white;
    border-radius: 15px;
    padding: 8%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
}

.announcements__card hr {
    margin: 16px 0 16px 0;
    border-color: #083344;
}

.announcements__descr {
    /* font-size: 14px; */
    font-size: clamp(14px, calc(1vw - 4px), 28px);
}

/* TRENDING */
.trending__card {
    display: grid;
    grid-auto-rows: auto;
    gap: 20px;
    font-size: clamp(16px, calc(1vw - 3px), 30px);

}

.user-block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-block__name {
    font-weight: 600;
}

.dashboard {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    writing-mode: tb-rl;
    padding: 10% 10% 0 10%;
    background-color: #0e7490;
    color: white;
    border-radius: 15px;
    margin: 8px 8px 24px 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
    height: auto;
    grid-area: dashboard;
    min-width: 26px;
    cursor: pointer;
}

.sidebar__visible {
    max-width: clamp(100px, 200px, 250px);
    position: fixed;
    z-index: 10;
    height: 90vh;
    transform: translateX(0px);
    top: 0;
    left: 0;
}

.sidebar__invisible {
    max-width: clamp(100px, 200px, 250px);
    position: fixed;
    height: 90vh;
    z-index: 10;
    transform: translateX(-500px);
    top: 0;
    left: 0;
}

.bg-gray {
    transition: ease 0.15s;
}

.bg-gray__active {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.601);
    z-index: 1;
}

.scroll-lock {
    position: fixed; 
    overflow-y:scroll
}

@media only screen and (max-width: 886px) {
    .dashboard {
        display: flex;
        cursor: pointer;
    }

    .first-row {
        display: flex;
        justify-content: stretch;
    }

    .first-row__left {
        width: 100%;
    }

    .first-row__right>*:not(svg) {
        display: none;

    }

    .container {
        max-width: 100vw;
        grid-template-columns: 1fr 10fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "dashboard header"
            "main main";
    }

    .main {
        grid-template-areas:
            "main-left"
            "main-right";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .main-left__content {
        grid-template-columns: repeat(auto-fit, 1fr);
    }
}

@media only screen and (max-width: 700px) {
    .second-row {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}